.pageError{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 139px 0;
    gap: 139px;
    color : #FF6060;
    @media (max-width :768px){
        margin: 113px 0;
        gap: 113px;
    }

    &__title{
        margin: 0;
        font-size: 288px;
        font-weight: 700;
        text-align: center;

        @media (max-width :768px){
            font-size: 160px;
        }

        @media (max-width :425px){
            font-size: 96px;
        }
    }

    &__message{
        margin: 0;
        font-size: 36px;
        font-weight: 500;
        text-align: center;

        @media (max-width :768px){
            font-size: 27px;
        }

        @media (max-width :425px){
            font-size: 18px;
        }
    }

    &__link{
        font-size : 18px;
        text-decoration: underline;
        color: #FF6060;
        cursor: grab;

        @media (max-width :425px){
            font-size: 14px;
        }
    }
}