.ficheLogement{
    width: 100%;
}

.carrousel{
    height: 415px;
    
    @media (max-width : 640px){
        height: 255px;
    }

    &__image{
        position : absolute;

        & img{
            width: calc(100vw - 200px);
            height: 415px;
            object-fit: cover;
            border-radius: 25px;

            @media (max-width :768px){
                width: calc(100vw - 40px);
            }

            @media (max-width : 640px){
                height: 255px;
                border-radius: 10px;
            }
        }
    }

    &__controls{
        position: absolute;
        width: calc(100vw - 200px);
        height: 415px;
        display: flex;

        @media (max-width :768px){
            width: calc(100vw - 40px);
        }

        @media (max-width : 640px){
            height: 255px;
        }

        &.buttons{
            justify-content: space-between;
            align-items: center;
            z-index: 2;

            img{
                padding: 25px;
                cursor: pointer;
                @media (max-width :1024px){
                    height: 50px;
                    padding: 25px;
                }
                @media (max-width :550px){
                    height: 24px;
                    padding: 10px;
                }
            }
        }

        &.counter{
            justify-content: center;
            align-items: flex-end;
            z-index: 1;
            font-size: 18px;
            font-weight: 500;
            color:#FFFFFF;
        
            @media (max-width : 425px){
                display: none;
            }

            span{
                padding: 25px;
            }
        }
    
    } 
}