.navbar {
    width: calc(100vw - 200px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    div {
      display: flex;
      gap: 57px;
  
      .navbar__link {
        font-size: 24px;
        font-weight: 500;
        color: #FF6060;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }