body{
    max-width: 1440px;

    margin: 0px;
    padding: 45px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    font-family: 'Montserrat', sans-serif;
}