.banner{
    width: calc(100% - 200px);
    height: 223px;
    background-size:cover;
    background-position: center;
    border-radius: 25px;

    @media (max-width :768px){
        width: calc(100% - 40px);
    }

    @media (max-width :425px){
        height: 111px;
        border-radius: 10px;
    }

    .banner__opacity{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);

        @media (max-width :425px){
            justify-content: left;
        }
    }

    .banner__text{
        font-size: 48px;
        color: #FFFFFF;

        @media (max-width :768px){
            font-size: 36px;
        }

        @media (max-width :425px){
            display: block;
            padding-left: 16px;
            width: 200px;
            font-size: 24px;

        }
    }
    
}